<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Trash Collector", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Employee"))
                        {
                        <li>@Html.ActionLink("Customers", "EmployeeCustomers", "Customers")</li> @*Employee Home*@
                        <li>@Html.ActionLink("Pickups", "EmployeePickups", "Pickups")</li> @*Employee Pickups*@
                        }
                    }
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Customer"))
                            {
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Addresses", "MyAddresses", "Addresses")</li>
                            <li>@Html.ActionLink("Pickups", "MyPickups", "Pickups")</li>
                            <li>@Html.ActionLink("Charges", "MyCharges", "Charges")</li>
                            }
                        }
                    </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>


