@model IEnumerable<TrashCollector2.Models.Pickup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress.CustomerAddressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpArea.AreaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupSuspended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OneTimePickup)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAddress.CustomerAddressID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpArea.AreaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupSuspended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OneTimePickup)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PickupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickupID })
        </td>
    </tr>
}

</table>
