@model IEnumerable<TrashCollector3.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAddresses)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PickUps)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddresses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUps)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.PickupID }, new { @class = "btn btn-default" }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.PickupID }, new { @class = "btn btn-default" }) |*@
                @* @Html.ActionLink("Delete", "Delete", new { id = item.PickupID }, new { @class = "btn btn-default" })*@
            </td>
        </tr>
    }

</table>


